flow-node-red.json
[{"id":"2271a794.0b8fd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6224b736.4623e8","type":"function","z":"2271a794.0b8fd8","name":"Save context","func":"context.flow.chatId = msg.payload.chatId;\ncontext.flow.type = msg.payload.type;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":264.50000762939453,"y":117.06254291534424,"wires":[["9e8fc86c.263888"]]},{"id":"9e8fc86c.263888","type":"watson-conversation-v1","z":"2271a794.0b8fd8","name":"","workspaceid":"c1e31d01-2108-4bd9-8757-a9d48fb403ea","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/f654808b-0f20-4290-ba36-3276db286398","timeout":"","optout-learning":false,"x":397.6250114440918,"y":244.3125457763672,"wires":[["5b9db34f.11c70c"]]},{"id":"5b9db34f.11c70c","type":"function","z":"2271a794.0b8fd8","name":"Restore context","func":"msg.payload.chatId = context.flow.chatId;\nmsg.payload.type = context.flow.type;\nmsg.payload.content = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":570.0000534057617,"y":157.2500457763672,"wires":[["418c1709.fa9148"]]},{"id":"418c1709.fa9148","type":"telegram sender","z":"2271a794.0b8fd8","name":"","bot":"9d33b3f0.de20a","x":640.7500419616699,"y":305.3125457763672,"wires":[[]]},{"id":"c9494ed8.5c438","type":"telegram receiver","z":"2271a794.0b8fd8","name":"","bot":"9d33b3f0.de20a","saveDataDir":"","filterCommands":false,"x":127,"y":211.31253051757812,"wires":[["6224b736.4623e8"],["6224b736.4623e8"]]},{"id":"9d33b3f0.de20a","type":"telegram bot","z":"","botname":"cbapi_18081010013_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]